body{
    background-color: lightcyan;
    text-align: center;
}
h1{
    color: red;
    font-size: 100;
    font-family: courier;
    text-align: center;
    border: 10px solid skyblue;
    padding: 30px;
    border-radius: 100px;
}
p{
    text-align: center;

}

marquee{
    flex-direction: column-reverse;
}

{
    font-size: 50;
    text-align: center;
    animation: blinker 1.5s linear infinite;
    color: red;
    font-family: sans-serif;
    border: 100px;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
            }
 
}

